.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 74px auto;
    max-width: 410px;
}

.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.profile__form {
    margin: 123px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile__form-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.profile__line {
    border: none;
    background-color: #E8E8E8;
    height: 1px;
    width: 100%;
    margin: 16px 0 17px;
    padding: 0;
}

.profile__btn-edit {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    border: none;
    background: none;
    margin: 220px 0 0;
    padding: 0;
}

.profile__btn-edit_disabled {
    opacity: 0.8;
}

.profile__btn-edit_active {
    opacity: 1;
}

.profile__btn-edit_active:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.profile__signout {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    border: none;
    background: none;
    margin: 16px 0 0;
    padding: 0;
}

.profile__signout:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

@media screen and (max-width: 660px) {
    .profile {
        max-width: 260px;
    }
}