.search {
    margin: 80px 70px 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.search__line {
    border: none;
    background-color: #E8E8E8;
    height: 1px;
    max-width: 1140px;
    margin: 40px 0 0;
    padding: 0;
}

.search__form {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(min-content, 1086px) 44px;
    gap: 10px;
    align-items: center;
    position: relative;
}

.search__input {
    height: 50px;
    background: #F4F4F4;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 16px;
    margin: 0;
    outline: none;
}

.search__input:focus {
    border-bottom: 1px solid #3456F3;;
}

.search__error {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 16px;
    bottom: -15px;
    display: none;
}

.search__error_visible {
    display: block;
}

.search__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
}

.search__btn {
    background: #3456F3;
    border-radius: 5px;
    border: 0;
    height: 44px;
    background-image: url(../../images/arrow.svg), url(../../images/line.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, 7px;
    margin: 0;
    padding: 0;
}

.search__btn:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

@media screen and (max-width: 768px) {
    .search {
        margin: 80px 30px 10px;
    }
}

@media screen and (max-width: 660px) {
    .search {
        margin: 80px 14px 50px;
    }
}