.checkbox {
    display: flex;
    margin: 29px 0 0 0;
    padding: 0;
    align-self: center;
}

.checkbox__input {
    display: none;
}

.checkbox__slider {
    position: relative;
    width: 34px;
    height: 14px;
    border-radius: 20px;
    border: none;
}

.checkbox__slider_off {
    background-color: #C4C4C4;
}

.checkbox__slider_on {
    background-color: #2BE080;
}

.checkbox__slider::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.checkbox__slider_off::before {
    top: 2px;
    left: 2px;
}

.checkbox__slider_on::before {
    top: 2px;
    right: 2px;
}

.checkbox__slider:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.checkbox__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0 12px;
    padding: 0;
}

@media screen and (max-width: 660px) {
    .checkbox {
        margin: 46px 0 0 0;
    }

    .checkbox__title {
        font-size: 11px;
    }
}