.techs {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 100px 70px;
    margin: 0;
}

.techs__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 90px auto 0;
    padding: 0;
}

.techs__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 26px auto 0;
    padding: 0;
    max-width: 460px;
}

.techs__list {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 90px));
    gap: 10px;
    justify-content: center;
    list-style: none;
    margin: 100px auto 0;
    padding: 0;
}

.techs__items {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    background: #E8E8E8;
    border-radius: 10px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__title {
        margin: 80px auto 0;
    }

    .techs__list {
        grid-template-columns: repeat(auto-fit, minmax(auto, 84px));
        margin: 83px 0 0 0;
    }

    .techs__items {
        line-height: 57px;
    }
}

@media screen and (max-width: 660px) {
    .techs {
        padding: 70px 18px;
    }

    .techs__title {
        margin: 60px auto 0;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__subtitle {
        font-size: 11px;
        line-height: 16px;
        margin: 24px auto 0;
        max-width: 400px;
    }

    .techs__list {
        grid-template-columns: repeat(2, minmax(auto, 84px));
        margin: 50px 0 0 0;
    }
}